Assets/BakedData/champion_boar/champion_boar_Array.asset filter=lfs diff=lfs merge=lfs -text
Assets/BakedData/championgalahad/championgalahad_Array.asset filter=lfs diff=lfs merge=lfs -text
Assets/BakedData/rookie_king_arthur/rookie_king_arthur_Array.asset filter=lfs diff=lfs merge=lfs -text
