.popup-overlay {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.popup-window {
    width: 600px;
    height: 480px;
    background-color: var(--color-neutral);
    border-width: 2px;
    border-color: var(--color-primary);
    border-radius: 4px;
    padding: 20px;
    flex-direction: column;
}

.popup-header {
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-color: #333;
    margin-bottom: 20px;
}

.popup-close-btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
    color: var(--color-primary);
    border-width: 1px;
    border-color: var(--color-primary);
    border-radius: 2px;
    font-size: 18px;
    -unity-font-style: bold;
}
.popup-close-btn:hover {
    background-color: var(--color-secondary);
    color: #fff;
    border-color: var(--color-secondary);
}

/* Shop Grid */
.shop-grid {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-item {
    width: 270px;
    height: 120px;
    background-color: var(--color-neutral-light);
    border-width: 1px;
    border-color: #444;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    align-items: center;
}
.shop-item:hover {
    border-color: var(--color-primary);
    scale: 1.05;
}

.shop-item-btn {
    margin-top: 8px;
    height: 30px;
    width: 100%;
    background-color: var(--color-primary);
    color: #000;
    -unity-font-style: bold;
    border-radius: 2px;
}
